@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Header style */
@font-face {
  font-family: 'Quicksand';
  src: url('../../fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

.navbar {
  width: 100%;
  height: 100px;
  background-color: transparent;
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.5rem 3rem !important;
  font-size: 1rem !important;
  font-family: 'Quicksand', sans-serif, Arial;
  font-weight: 300;

}
.sticky {
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
  background-color: #f8f3e8;
}
.navbar-toggler {
  position: relative !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler span {
  display: block !important;
  background-color: #191919;
  height: 4px !important;
  width: 28px !important;
  margin-top: 3px !important;
  margin-bottom: 5px !important;
  margin-right: 2rem !important;
  transform: rotate(0deg) !important;
  left: 0 !important;
  opacity: 1 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.1s ease-in-out !important;
  transition: transform 0.1s ease-in-out !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(135deg) !important;
  opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(-135deg) !important;
  opacity: 0.9 !important;
}


.nav-link {
  font-size: 16px !important;
  letter-spacing: 1px;
  font-weight: 600 !important;
  padding-right: 2rem !important;
  padding-left: 1rem !important;
  color: rgb(100, 150, 230) !important;
  text-decoration: none;
}

.nav-link:hover {
  color: rgb(30, 59, 100) !important;
  text-decoration: underline;
  text-decoration-color: #2c98f0;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
}


.resumebtn {
  margin-left: 30px;
  border-radius: 25px;
  padding: 0 25px;
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 100%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
  border: none;
}

@media (max-width: 767px) {
  .navbar {
    padding: 1rem 0rem !important;
    background-color: transparent !important;
  }
  .homepage {
    display: none;
  }

  .navbar-nav .nav-item a::after {
    display: none !important;
  }
  .responsive-navbar {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    transition: height 0.0s ease;


  }
  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .resumebtn {
    width: 150px;
    display: block;
    margin: 5px auto;
    padding: 8px 5px;
    letter-spacing: 1px;
  }
}

/* Homepage style */

.imagedeveloper {
margin-top: 50px;
max-width: 550px;
height: 400px;
background-color: rgb(242, 242, 245) !important;
}


.row {
  padding-top: 80px;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 1.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
.Typewriter__wrapper {
  font-size: 2em !important;
  color: #191919 !important;
  font-weight: 600 !important;
  letter-spacing: 1px !important;
}
.Typewriter__cursor {
  font-size: 2.4em !important;
  color: #191919 !important;
}
.headtext {
  padding-top: 120px;
  font-size: 2.4em !important;
  color: #191919 !important;
  font-weight: 600 !important;
  letter-spacing: 1px !important;

}
.nametext {
  font-size: 2em !important;
  color: #191919 !important;
  font-weight: 300 !important;
  letter-spacing: 1px !important;
}
.nametext2 {
  font-size: 1em !important;
  color: #191919 !important;
  font-weight: 300 !important;
  letter-spacing: 0.75px !important;
}

@media (max-width: 767px) {
  .homepagebackground {
    width: 100%;
    height: 100%;
    background-color: rgb(242, 242, 245) !important;
  }
  .row {
    padding-top: 50px;

  }

  .Typewriter__wrapper {
    font-size: 1.9em !important;
  }
  .Typewriter__cursor {
    font-size: 2.2em !important;
  }
  .headtext {
    padding-top: 100px;
    font-size: 2em !important;

  }
  .nametext {
    font-size: 2.4em !important;
  }
  .imagedeveloper {
    margin-top: 50px;
    max-width: 420px;
    max-height: 400px;


  }
  .socailmediabtn {
    margin-top: 1rem;
  }
}

/* Home Page uses this and also aboutpagebackground used in other pages too */  

.aboutpagebackground {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: rgb(242, 242, 245) !important;
  padding-top: 110px;
}

.textbackground {
  width: 100%;
  height: 100%;
  padding: 4rem;
  box-shadow: -5px -5px 5px 0px rgba(0, 0, 0, 0.03), 
              5px 5px 0px 0px rgba(0, 0, 0, 0.00);
}

.aboutmetext {
  font-size: 2em !important;
  color: #191919 !important;
  font-weight: 300 !important;
  letter-spacing: 1px !important;
}
.aboutmetext span:hover {
  display: inline-block;
  transition: all 500ms;
  color: #fff;
  animation: vibrate 30ms linear infinite forwards;
}
@keyframes vibrate {
  0% {
    transform: translateX(-1px) translateY(1px);
  }
  100% {
    transform: translateX(1px) translateY(-2px);
  }
}
.aboutdetails {
  font-family: 'Quicksand', sans-serif, Arial;
  font-weight: 300;
  font-size: 16px;
  text-align: justify;
}
.skilllist li {
  letter-spacing: 1px;
  font-family: 'Poppins';
}
.skilllist {
  font-weight: 600;
  list-style-type: none;
  font-family: 'Poppins';
}
.skilllist li:hover {
  transform: scale(1.05);
  transition: 5ms;
  color: #e8e8e8;
}

/*Profile Diplay Pic */
.webimage {
  max-width: 210px;
  height: 210px;
  background-image: url(../images/sonu.JPG);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto; 
  margin-bottom: 15px;
}

/* Home Page icons */
.icon-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 100%;
}

.icon {
  color: rgb(100, 150, 220);
  font-size: 22px; 
}

.icon:hover {
  color: rgb(0, 50, 100); /* Change the hover color to your desired color */
}

@media (max-width: 767px) {
  .aboutpagebackground {
    width: 100%;
    height: 100%;
  }
  .textbackground {
    display: block;
    margin: 0 auto;
  }
}

/* Projectpage style */

.project-section {
  padding: 10rem 3rem; 
}

.project-card {
  padding-top: 20px;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;

}
.card-text{
  font-family: 'Quicksand', sans-serif, Arial;
  font-weight: 300;
  font-size: 15px;
}
{/*.project-card-view {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px !important;
  color: #191919 !important;
  background-color: transparent !important;
  border: transparent;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
  border-radius: 15px;
}
*/}
.project-card-view {
  width: 100%;
  border-radius: 15px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  margin-bottom: 30px;
background-color: transparent;
  font-family: 'Quicksand', sans-serif, Arial;
  font-weight: 500;
}

.project-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px !important;
}

.card-img-top {
  padding: 20px !important;
  opacity: 0.8 !important;
  border-radius: 10px !important;
}
.viewbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  letter-spacing: 1px;

}

.btn-primary {
  color: #191919 !important;
  background-color: transparent !important;
  border-color: #191919 !important;
}

.btn-primary:hover {
  color: #e8e8e8 !important;
  background-color: transparent !important;
  border-color: #e8e8e8 !important;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}


@media (max-width: 767px) {
  .project-section {
    padding-top: 40px !important;
  }
}

/* Contactpage Style */
.contactbackground {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #0f4c75;
  background-image: linear-gradient(135deg, #0f4c75 0%, #3282b8 50%, #bbe1fa 100%);
  padding-top: 110px;
}
.contacthead {
  padding-top: 3rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 800;
  letter-spacing: 1px;
}
.contactpara {
  padding-top: 1rem;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  padding-bottom: 1rem;
  font-family: 'Poppins';
}
.contactbtn {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 50px;
  border: solid 2px;
  background-color: transparent;
  letter-spacing: 2px;
}
.contactbtn:hover {
  background-color: rgba(51, 51, 51, 0.2);
}
.copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 12px;
  font-family: 'Poppins';
}
.copyright span {
  font-weight: 700;
  letter-spacing: 1px;
}
@media (max-width: 767px) {
  .contactpara br {
    display: none;
  }
}

/* Reading Page */ 
.transparent-card {
  background-color: transparent;
  font-family: 'Quicksand', sans-serif, Arial;
  font-weight: 300;
}
.transparent-card .list-group {
  border: none;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120vh;
  background-color: rgb(239, 239, 243) !important;
}

.container-width {
  max-width: 70%;
}

.my-masonry-grid {
  display: flex;
  margin-left: -30px; /* some gutter px */
  width: auto;
  margin-top: 50px;
}
.my-masonry-grid_column {
  padding-left: 30px; /* some gutter px */
  background-clip: padding-box;
  box-sizing: border-box;
}

.dynamicBox {
  margin-bottom: 30px;
  width: 100%;
  background-color: rgb(242,242,245);
  border-radius: 15px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}


.list-group-item a {
  color: black;
  text-decoration: none;
}
.list-group-item a:hover {
  color: grey;
}

.centered-content h2 {
  text-align: center;
  margin-bottom: 20px;
}
.intro-text {
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 20px;
  font-family: 'Quicksand', sans-serif, Arial;
  font-weight: 300;
}


/* Projects Page */
.my-masonry-gridp {
  display: flex;
  margin-left: -2%;
  width: auto;
}

.my-masonry-grid_columnp {
  padding-left: 2%;
  background-clip: padding-box;
}

/* Custom Link Hover */
.linkc {
  color: RoyalBlue !important;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  text-decoration: none;
}

.linkc:hover {
  color: #2c98f0 !important;
  text-decoration: underline;
  text-decoration-color: #2c98f0;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
}

/* Custom Link for Reading Section */
.linkr {
 /* color: rgb(0,100,245) !important; */
  color: RoyalBlue  !important;
  -webkit-transition: color 0.5s; 
  -o-transition: color 0.5s;
  transition: color 0.5s;
  text-decoration: none;
}

.linkr:hover {
  color: #2c98f0 !important;
  text-decoration: underline;
  text-decoration-color: #2c98f0;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
}
